<app-navbar-manage></app-navbar-manage>
<div class="we-cont">
  <form class="we-form" (ngSubmit)="updateDataCategories()" [formGroup]="editCategorieForm">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" name="name" class="form-control" [(ngModel)]="categorie.name" formControlName="name">
        <p id="validator" *ngIf="name.invalid && (name.dirty || name.touched)" role="alert">
          El nombre debe contener almenos 3 letras
        </p>
      </div>
      <label class="col-sm-2 col-form-label">Codigo</label>
      <div class="col-sm-10">
        <input type="text" name="condition" class="form-control" [(ngModel)]="categorie.condition" formControlName="condition">
        <p id="validator" *ngIf="condition.invalid && (condition.dirty || condition.touched)" role="alert">
          Solo números
        </p>
      </div>
      <div class="form-group">
        <label class="col-sm-2 col-form-label">Icono</label>
        <select class="select-css btn mr-2" [(ngModel)]="categorie.icon" formControlName="icon">
          <option value="👘">👘</option>
          <option value="🔌">🔌</option>
          <option value="🚗">🚗</option>
          <option value="🏈">🏈</option>
          <option value="🚧">🚧</option>
          <option value="🏠">🏠</option>
          <option value="💅">💅</option>
        </select>
        <p id="validator" *ngIf="icon.invalid && (icon.dirty || icon.touched)" role="alert">
          Seleccione un icono
        </p>
      </div>
    </div>
    <div class="btn-cat">
      <button>Actualizar Categoría</button>
    </div>
  </form>
</div>