.we-card{
    padding: 1rem;
    background-color: #fff;
   
}
 .col-lg-2{
    margin: 0 !important;
    padding: 10px;
}
.we-card-details{
    margin: 0 !important;
    padding: 10px;
   

}

.we-details{
    border-bottom: 1px solid #000;
    vertical-align: text-bottom;  
    

}

.we-card-car{
    border-radius: 5px;
    margin: 0.5rem;
    padding: 1rem;
    box-shadow: 5px 4px 9px;
    text-align: center;
    width: 100%;
    height: auto;
}
h5{
    font-size: x-large;
}
 img{
    width: 100%;
    height: auto;
 }

 dt{
     font-size: large;
 }
 dd{
     font-size: large;
 }
 .btn-danger{
     margin-top: 180px;
 }
 .btn-primary{
     margin-top: 35px;

 }